<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wallpapers</title>
    <link rel="stylesheet" href="wallpapers/wallpapers.css">
    <script src="/views/wallpapers.js/wallpapers.js"></script>
</head>
<body>
    <section>
        <img src="wallpapers/imagens wallpapers/One1.png" />
        <img src="wallpapers/imagens wallpapers/One2.png" />
        <img src="wallpapers/imagens wallpapers/One5.png" />
        <img src="wallpapers/imagens wallpapers/One4.png" />
        <img src="wallpapers/imagens wallpapers/one5.png" />
        <img src="wallpapers/imagens wallpapers/one6.png" />
    </section> 
</body>
</html>